.headline{
	background-image: url(../Paisagem.jpg);
	display: block;
    width: 100%;
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}